@charset "UTF-8";
h1 {
  margin: 0;
  color: whitesmoke;
  font-size: 1rem;
}

h2 {
  font-size: .5em;
}

h3 {
  font-size: .4rem;
  font-weight: 300;
  margin: 0%;
  color: whitesmoke;
}

p {
  font-size: .4rem;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body #section1 {
  width: 100%;
  background-color: #202020;
}

body #section1 #container_banner {
  width: 100%;
  height: auto;
  color: #1a0b0b;
  position: relative;
}

body #section1 #container_banner .backGround {
  width: 100%;
  height: 10rem;
  background-image: url(./img/IMG_5708.jpg);
  background-size: cover;
  position: relative;
}

body #section1 #container_banner .backGround .title {
  padding-left: 1rem;
  padding-top: 1rem;
}

body #section1 #container_banner .backGround .skillButton {
  background-color: rgba(32, 32, 32, 0.63);
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  color: whitesmoke;
}

body #section1 #container_banner .backGround .skillButton .buttonGroup {
  width: 60%;
  height: 100%;
  margin-left: auto;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #section1 #container_banner .backGround .skillButton .buttonGroup a {
  width: 30%;
  margin-left: .2rem;
}

body #section1 #container_banner .backGround .skillButton .buttonGroup a .button {
  width: 100%;
  text-align: center;
  border: 1px solid whitesmoke;
  padding: .2rem;
}

body #section1 #container_banner .backGround .skillButton .buttonGroup a .button img {
  width: 20%;
}

body #section1 #container_banner .backGround .skillButton .buttonGroup a .button h3 {
  margin-top: .2rem;
}

body #section1 #container_banner .myPhoto {
  width: 8rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border: #202020 0.5rem solid;
  position: absolute;
  top: 30%;
}

body #section1 #container_banner .myPhoto img {
  width: 100%;
}

body #section2 .container_body {
  width: 100%;
  padding-top: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #202020;
}

body #section2 .container_body .leftSide {
  padding: .5rem;
  width: 30%;
  height: auto;
  background-color: whitesmoke;
  border-radius: .2rem;
  color: #202020;
}

body #section2 .container_body .leftSide .skillBar h2 {
  text-align: center;
  margin-bottom: 0;
}

body #section2 .container_body .leftSide .skillBar ul {
  list-style: none;
  padding: .5rem;
  margin: 0;
}

body #section2 .container_body .leftSide .skillBar ul progress,
body #section2 .container_body .leftSide .skillBar ul progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-size: auto;
  height: .5rem;
  width: 100%;
}

body #section2 .container_body .leftSide .skillBar ul .skill-list {
  list-style: none;
}

body #section2 .container_body .leftSide .skillBar ul .skill {
  margin-bottom: .1em;
  position: relative;
}

body #section2 .container_body .leftSide .skillBar ul .skill h3 {
  color: #fff;
  left: .5em;
  position: absolute;
  bottom: 0%;
}

body #section2 .container_body .leftSide .skillBar ul .skill ::-webkit-progress-value {
  width: 0px;
}

body #section2 .container_body .leftSide .skillBar ul .skill-1::-webkit-progress-value {
  background: #0243bd;
}

body #section2 .container_body .leftSide .skillBar ul .skill-2::-webkit-progress-value {
  background: #2c2c2c;
}

body #section2 .container_body .leftSide .skillBar ul .skill-3::-webkit-progress-value {
  background: #ec9209;
}

body #section2 .container_body .leftSide .skillBar ul .skill-4::-webkit-progress-value {
  background: #696969;
}

body #section2 .container_body .leftSide .skillBar ul .skill-5::-webkit-progress-value {
  background: #d11414;
}

body #section2 .container_body .leftSide .skillBar ul .skill-6::-webkit-progress-value {
  background: #4b7409;
}

@-webkit-keyframes bar-fill {
  0% {
    width: 0;
  }
}

@keyframes bar-fill {
  0% {
    width: 0;
  }
}

body #section2 .container_body .rightSide {
  width: 65%;
  padding: .5em;
  height: auto;
  background-color: whitesmoke;
  border-radius: .2rem;
}

body #section2 .container_body .rightSide .experience .title {
  text-align: center;
}

body #section2 .container_body .rightSide .experience .workEx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #section2 .container_body .rightSide .experience .workEx .smallTitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body #section2 .container_body .rightSide .experience .workEx .smallTitle h3 {
  font-family: '微軟正黑體';
  color: black;
}

body #section2 .container_body .rightSide .experience .workEx .smallTitle p {
  margin: 0;
  margin-left: .2rem;
}

body #section2 .container_body .rightSide .experience .workEx .smallTitle ul li {
  font-size: .4rem;
  font-family: '微軟正黑體';
}

body #section2 .container_body .rightSide .experience .workEx p {
  margin: 0;
}

body #section3 .container_middle {
  width: 100%;
  height: 4rem;
}

body #section3 .container_middle .backImg {
  width: 100%;
  height: 100%;
  background-image: url(./img/S__9494574_fade.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  position: relative;
}

body #section3 .container_middle .backImg::before {
  content: "TIGGER KAO";
  background-color: rgba(253, 253, 253, 0.342);
  padding: .5em;
  color: #202020;
  margin: auto;
  font-family: 'Tomorrow', sans-serif;
  position: absolute;
  right: 47%;
  top: 40%;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-transform: translate(-1);
          transform: translate(-1);
  font-size: .5rem;
}

body #section4 .container_bottom {
  background-color: #202020;
}

body #section4 .container_bottom .portfolio {
  padding-top: 2.5rem;
  width: 100%;
}

body #section4 .container_bottom .portfolio .rwd {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: auto;
  background-color: #202020;
  padding-bottom: 2.5rem;
}

body #section4 .container_bottom .portfolio .rwd .title {
  width: 30%;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-transform: translate(-1);
          transform: translate(-1);
  position: absolute;
  right: -5%;
}

body #section4 .container_bottom .portfolio .rwd .imgWeb {
  width: 50%;
}

body #section4 .container_bottom .portfolio .rwd .imgWeb img {
  width: 90%;
}

body #section4 .container_bottom .portfolio .rwd .imgPhone {
  width: 17.7%;
}

body #section4 .container_bottom .portfolio .rwd .imgPhone img {
  width: 90%;
}

body #section4 .container_bottom .portfolio .commercial {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  position: relative;
  height: auto;
  background-color: white;
}

body #section4 .container_bottom .portfolio .commercial .title {
  width: 35%;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-transform: translate(-1);
          transform: translate(-1);
  position: absolute;
  left: 0;
  top: 13%;
}

body #section4 .container_bottom .portfolio .commercial .title h1 {
  color: rgba(32, 32, 32, 0.63);
}

body #section4 .container_bottom .portfolio .commercial .img {
  width: 35%;
}

body #section4 .container_bottom .portfolio .commercial .img img {
  width: 95%;
  margin-top: 10px;
}

body #section4 .container_bottom .portfolio .photos {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  position: relative;
  height: auto;
  background-color: #202020;
}

body #section4 .container_bottom .portfolio .photos .title {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-transform: translate(-1);
          transform: translate(-1);
  position: absolute;
  right: 0;
  top: 20%;
}

body #section4 .container_bottom .portfolio .photos .photoContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #section4 .container_bottom .portfolio .photos .photoContainer .img {
  width: 30%;
}

body #section4 .container_bottom .portfolio .photos .photoContainer .img img {
  width: 100%;
  padding-left: .2rem;
  padding-bottom: .2rem;
}

body #section4 .container_bottom .portfolio .ps {
  padding-top: 2.5rem;
  width: 100%;
  height: auto;
  background-color: #202020;
}

body #section4 .container_bottom .portfolio .ps .imgbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body #section4 .container_bottom .portfolio .ps .imgbox .img {
  width: 50%;
}

body #section4 .container_bottom .portfolio .ps .imgbox .img img {
  height: 75%;
  padding-bottom: .2rem;
}

body #section4 .container_bottom .portfolio .ps .imgbox .imgT {
  width: 100%;
}

body #section4 .container_bottom .portfolio .ps .imgbox .imgT img {
  height: 75%;
  padding-bottom: .2rem;
}

body #section5 .footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

body #section5 .footer p {
  font-size: .3rem;
  width: 30%;
}

body #section5 .footer p b {
  background-color: rgba(32, 32, 32, 0.63);
  padding: .2rem;
  color: whitesmoke;
}

@media (max-width: 1835px) {
  body #section4 .container_bottom .portfolio .ps .imgbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body #section4 .container_bottom .portfolio .ps .imgbox .imgT img {
    width: 100%;
    height: unset;
  }
  body #section4 .container_bottom .portfolio .ps .imgbox .img {
    width: 50%;
  }
  body #section4 .container_bottom .portfolio .ps .imgbox .img img {
    height: unset;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 30px;
  }
  html body #section1 #container_banner .backGround .title {
    margin-left: 2rem;
    padding-left: 0;
  }
  html body #section1 #container_banner .myPhoto {
    width: 6.5rem;
    top: 40%;
    margin-left: 2rem;
  }
  html body #section4 .container_bottom .portfolio .rwd .imgWeb {
    width: 60%;
  }
  html body #section4 .container_bottom .portfolio .rwd .imgPhone {
    width: 21.3%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 25px;
  }
  html body #section1 #container_banner .myPhoto {
    width: 6.5rem;
    top: 45%;
  }
}

@media (max-width: 420px) {
  html body #section1 #container_banner .backGround .skillButton .buttonGroup a .button img {
    width: 50%;
  }
  html body #section1 #container_banner .backGround .skillButton .buttonGroup a .button h3 {
    display: none;
  }
  html body #section1 #container_banner .backGround .title .myName a img {
    display: none;
  }
  html body #section2 .container_body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  html body #section2 .container_body .leftSide {
    width: 100%;
    margin-bottom: 1rem;
  }
  html body #section2 .container_body .rightSide {
    width: 100%;
  }
  html body #section2 .container_body .leftSide .skillBar ul progress, html body #section2 .container_body .leftSide .skillBar ul progress[role] {
    height: 1rem;
  }
  html body #section2 .container_body .rightSide .experience .etitle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
  }
  html body #section2 .container_body .rightSide .experience .workEx .smallTitle ul {
    padding-left: 1rem;
  }
  html body #section4 .container_bottom .portfolio .ps .imgbox .imgT img {
    height: unset;
    width: 100%;
  }
  html body #section5 .footer p {
    font-size: 5px;
  }
}
/*# sourceMappingURL=index.css.map */