* {
    font-family: '微軟正黑體';
    letter-spacing: 1px;
    color: #333333;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 32px;
    font-weight: 300;
    margin: 10px 0;
}

h3 {
    font-size: 21px;
    font-weight: normal;
    margin: 10px 0;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    color: whitesmoke;
    letter-spacing: 2px;
}

p {
    letter-spacing: 2px;
    line-height: 180%;
    text-align: justify;
}

body {
    margin: 0;
}

.hamburger-icon {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 5%;
    left: 3%;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    // transition: all 0.2s ease-in-out;
    background: black;

    &:hover {
        transform: scale(1.2);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .icon-1,
    .icon-2,
    .icon-3 {
        position: absolute;
        left: 25%;
        top: 50%;
        width: 32px;
        height: 2px;
        background-color: whitesmoke;
        transition: all 400ms cubic-bezier(.84, .06, .52, 1.8);
    }

    .icon-1 {
        transform: translateY(-8px);
        animation-delay: 100ms;
    }

    .icon-3 {
        transform: translateY(8px);
        animation-delay: 250ms;
    }

    .icon-1.a {
        transform: rotate(40deg);
    }

    .icon-3.b {
        transform: rotate(-40deg);
    }

    .icon-2.c {
        opacity: 0;
    }

    .clear {
        clear: both;
    }
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0%;
    z-index: 10;
    opacity: 0;

    transition: all 600ms cubic-bezier(.62, .04, .3, 1.56);
    transition-delay: 100ms;

    .row {
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        background-color: black;


        .col {
            text-decoration: none;
            width: 25%;
            position: relative;
            background-color: black;
            transition: 1s;

            h2 {
                position: absolute;
                top: 30%;
                left: 30%;
                color: white;
                letter-spacing: 2px;
                font-family: 'Noto Sans TC', sans-serif;
                font-weight: 200;
            }

            .zh_web {
                writing-mode: vertical-lr;
                position: relative;

                &::after {
                    content: "WEB_DESIGN";
                    width: 0%;
                    height: 0%;
                    font-size: 20px;
                    position: absolute;
                    right: 0%;
                    top: 0;
                    font-family: 'Open Sans Condensed', sans-serif;
                }
            }

            .zh_cd {
                writing-mode: vertical-lr;
                position: relative;

                &::after {
                    content: "COMMERCIAL_DESIGN";
                    width: 0%;
                    height: 0%;
                    font-size: 16px;
                    position: absolute;
                    right: 0%;
                    top: 0;
                    font-family: 'Open Sans Condensed', sans-serif;
                }
            }

            .zh_photos {
                writing-mode: vertical-lr;
                position: relative;

                &::after {
                    content: "PROFESSIONAL_PHOTOS";
                    width: 0%;
                    height: 0%;
                    font-size: 16px;
                    position: absolute;
                    right: 0%;
                    top: 0;
                    font-family: 'Open Sans Condensed', sans-serif;
                }
            }

            .zh_mp {
                writing-mode: vertical-lr;
                position: relative;

                &::after {
                    content: "MATTE_PAINTING";
                    width: 0%;
                    height: 0%;
                    font-size: 16px;
                    position: absolute;
                    right: 0%;
                    top: 0;
                    font-family: 'Open Sans Condensed', sans-serif;
                }
            }

            &:hover {
                background-color: #4D4D4D;
            }

            &:hover .zh {
                transform: scale(1.2);
            }

            .img {
                width: 95%;
                position: absolute;
                bottom: 0;
                left: 2.5%;
            }

            .photos {
                width: 50%;
                left: 25%;
            }

            .links{
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                height: 100vh;

                a{
                    font-size: 50px;

                    *{

                        &:hover{
                            color: whitesmoke;
                        }
                    }
                }
            }

        }
    }

}

nav.show {
    width: 100%;
    opacity: 1;
}

#banner {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(./img/S__9887806_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .mask {
        mask: url(./img/S__9887806_back_2.png);
        mask-size: cover;
        width: 100%;
        height: 100vh;

        .img {
            width: 100%;
            height: 100vh;
            background-image: url(./img/name.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position-y: 25%;
            background-position-x: 40%;
            background-size: 60%;
        }
    }
}

#info {
    .container {
        width: 100%;
        height: fit-content;
        background-image: url(./img/black_gradient.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .title {
            width: 80%;
            margin: auto;
            padding-top: 50px;

            h1 {
                color: whitesmoke;
            }
        }

        .textarea {
            width: 70%;
            margin: auto;
            padding: 10px 0;
        }

        .content {
            width: 70%;
            margin: auto;
            padding: 10px 0;

            .skillbar {
                box-sizing: border-box;
                width: 100%;
                margin: 20px 0;
                display: flex;

                h4 {
                    color: #1A1A1A;
                    text-transform: uppercase;
                    margin: 0 0 10px;
                    padding: 0;
                    letter-spacing: 2px;
                    width: 30%;
                }

                .skill {
                    background-color: #CCCCCC;
                    padding: 3px;
                    box-sizing: border-box;
                    // border: 1px solid #1A1A1A;
                    border-radius: 2px;
                    width: 70%;
                    height: fit-content;

                    .level {
                        background-color: #1A1A1A;
                        width: 100%;
                        height: 15px;
                    }
                }

            }
        }
    }
}

#middle_buttons {
    .title {
        width: 80%;
        margin:50px auto;
    }
    .container {
        width: 70%;
        margin: 50px auto;

        .buttons {
            width: 100%;
            height: 80px;
            display: flex;

            .m_button {
                width: 25%;
                // background-color: gray;
                margin: 10px;
                cursor: pointer;
                position: relative;
            }

            .w {
                background-image: url(./img/coding1.svg);
                background-repeat: no-repeat;
                background-position: center;

                &:hover {
                    background-image: url(./img/coding.svg);
                    position: relative;

                    &::before {
                        content: "WEB DESIGN";
                        // width: 100%;
                        height: 0;
                        position: absolute;
                        bottom: -10%;
                        left: 50%;
                        transform: translate(-50%,0%);
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }

            .c {
                background-image: url(./img/graphic-design1.svg);
                background-repeat: no-repeat;
                background-position: center;

                &:hover {
                    background-image: url(./img/graphic-design.svg);
                    &::before {
                        content: "COMMERCIAL DESIGN";
                        // width: 100%;
                        height: 0;
                        position: absolute;
                        bottom: -10%;
                        left: 50%;
                        transform: translate(-50%,0%);
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }

            .p {
                background-image: url(./img/photography.svg);
                background-repeat: no-repeat;
                background-position: center;

                &:hover {
                    background-image: url(./img/photography1.svg);
                    &::before {
                        content: "PROFESSION PHOTOS";
                        // width: 100%;
                        height: 0;
                        position: absolute;
                        bottom: -10%;
                        left: 50%;
                        transform: translate(-50%,0%);
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }

            .m {
                background-image: url(./img/retouch1.svg);
                background-repeat: no-repeat;
                background-position: center;

                &:hover {
                    background-image: url(./img/retouch.svg);
                    &::before {
                        content: "MATTE PAINTING";
                        // width: 100%;
                        height: 0;
                        position: absolute;
                        bottom: -10%;
                        left: 50%;
                        transform: translate(-50%,0%);
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

//* web
.section {
    display: none;
    position: relative;

    .container_1 {
        width: 100%;
        height: fit-content;
        position: relative;
        display: none;
        margin-bottom: 50px;

        .title {
            width: 80%;
            margin: auto;
            margin-bottom: 50px;
        }

        .bgimg {
            width: 35%;
            position: absolute;
            transform: scale(1.4);
            top: 35%;
            left: 42%;
            z-index: -1;

            img {
                width: 100%;
            }
        }

        .content {
            width: 70%;
            height: auto;
            margin: auto;
            display: flex;
            justify-content: space-between;

            .leftzone {
                width: 40%;

                .imgzone {
                    width: 100%;

                    .tab {
                        display: none;

                        img {
                            width: 100%;
                        }
                    }

                    .mobile {
                        width: 40%;
                        margin: auto;

                        img {
                            width: 100%;
                        }
                    }

                    .tab.active {
                        display: block;
                    }
                }

                .buttons {
                    display: flex;
                    justify-content: center;
                    font-size: 30px;

                    .button {
                        margin: 0 10px;
                        color: gray;
                        cursor: pointer;
                    }

                    .button.active {
                        *{
                            color: #AA4C4C;
                        }
                    }
                }
            }

            .rightzone {
                width: 55%;

                .second_title {
                    display: flex;
                    justify-content: space-between;

                    h1 {
                        position: relative;

                        &::after {
                            content: "";
                            width: 0%;
                            height: 2px;
                            position: absolute;
                            background-color: black;
                            left: 0;
                            bottom: 0;
                            transition: 1s;
                        }

                        &:hover {
                            color: #AA4C4C;
                            *{
                                color: #AA4C4C;
                            }
                        }
                    }

                    h1:hover::after {
                        content: "";
                        width: 100%;
                        background-color: #AA4C4C;
                    }

                    h3 {
                        position: relative;

                        &::after {
                            content: "";
                            width: 0%;
                            height: 2px;
                            position: absolute;
                            background-color: black;
                            left: 0;
                            bottom: -10%;
                            transition: 1s;
                        }

                        &:hover {
                            color: #053F0C;
                            *{
                                color: #053F0C;
                            }
                        }
                    }

                    h3:hover::after {
                        content: "";
                        width: 100%;
                        background-color: #053F0C;
                    }
                }
            }
        }

    }

    .container_2 {
        width: 100%;
        height: fit-content;
        position: relative;
        display: none;
        margin-bottom: 50px;

        .title {
            width: 80%;
            margin: auto;
            margin-bottom: 50px;
        }

        .content {
            width: 70%;
            height: auto;
            margin: auto;
            display: flex;
            justify-content: space-between;

            .leftzone {
                width: 40%;

                .imgzone {
                    width: 100%;

                    .tab2 {
                        display: none;

                        img {
                            width: 100%;
                        }
                    }

                    .mobile {
                        width: 40%;
                        margin: auto;

                        img {
                            width: 100%;
                        }
                    }

                    .tab2.active {
                        display: block;
                    }
                }

                .buttons {
                    display: flex;
                    justify-content: center;
                    font-size: 30px;

                    .button2 {
                        margin: 0 10px;
                        color: gray;
                        cursor: pointer;
                    }

                    .button2.active {
                        *{
                            color: rgb(66, 127, 151);
                        }
                    }
                }
            }

            .rightzone {
                width: 55%;
                position: relative;

                .bgimg {
                    z-index: -1;
                    position: absolute;
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .second_title {
                    display: flex;
                    justify-content: space-between;

                    h1 {
                        position: relative;

                        &::after {
                            content: "";
                            width: 0%;
                            height: 2px;
                            position: absolute;
                            background-color: black;
                            left: 0;
                            bottom: 0;
                            transition: 1s;
                        }

                        &:hover {
                            color: rgb(66, 127, 151);
                            *{
                                color:rgb(66, 127, 151);
                            }
                        }
                    }

                    h1:hover::after {
                        content: "";
                        width: 100%;
                        background-color: rgb(66, 127, 151);
                    }

                    h3 {
                        position: relative;

                        &::after {
                            content: "";
                            width: 0%;
                            height: 2px;
                            position: absolute;
                            background-color: black;
                            left: 0;
                            bottom: -10%;
                            transition: 1s;
                        }

                        &:hover {
                            color: rgb(32, 43, 48);
                            *{
                                color: rgb(32, 43, 48);
                            }
                        }
                    }

                    h3:hover::after {
                        content: "";
                        width: 100%;
                        background-color: rgb(32, 43, 48);
                        
                    }
                }
            }
        }


    }

    .pages {
        position: absolute;
        right: 10%;
        bottom: 0;
        display: flex;

        .webpage {
            width: 60px;
            height: 60px;
            margin: 0 5px;
            // padding: 0 10px;
            background-color: gray;
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            color: whitesmoke;
            font-size: 24px;
            cursor: pointer;
        }

        .webpage.active {
            background-color: black;
        }
    }

    .website.active {
        display: block;
    }

}

//* cd
.section {
    display: block;
    height: 0;
    overflow: hidden;
    .container_cd {
        width: 100%;
        height: auto;
        margin-bottom: 50px;

        .title {
            width: 80%;
            margin: auto;
            margin-bottom: 50px;
        }

        .heathrow-images-for-lightbox {
            margin: auto;
            width: 70%;

            .slider {
                margin: 0px auto 30px;

                .image {

                    img {
                        display: block;
                        width: 100%;
                        padding: 5px;
                    }
                }

                .slick-prev,
                .slick-next {
                    width: 30px;
                    height: 30px;
                }

                .slick-prev {
                    left: -40px;
                }

                .slick-next {
                    right: -40px;
                }

                .slick-prev:before,
                .slick-next:before {
                    color: #4D4D4D;
                    font-size: 30px;
                }
            }
        }

        .progress {
            display: block;
            width: 100%;
            height: 10px;
            border-radius: 10px;
            overflow: hidden;
            background-color: gray;
            background-image: linear-gradient(to right, black, black);
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size .4s ease-in-out;

            .sr-only {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }
        }
    }
}

//* photos
.section {
    .container_photos {
        width: 100%;
        height: auto;
        margin-bottom: 50px;

        .title {
            width: 80%;
            margin: auto;
            margin-bottom: 50px;
        }

        .items {
            width: 70%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: space-between;

            .item {
                width: 25%;
                padding: 5px;
                float: left;

                img {
                    width: 100%;
                }
            }
        }
    }
}

//* mp
.section{
    .container_mp{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        .title {
            width: 80%;
            margin: auto;
            margin-bottom: 50px;
        }
        .row{
            width: 70%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .col_w{
                width: 100%;
                img{
                    width: 100%;
                }
            }

            .col{
                width: 50%;
                img{
                    width: 100%;
                }
            }
        }
    }
}

.active {
    display: block;
    height: auto;
}


@media screen and (max-width:1024px){
    h1{
        font-size: 24px;
    }
    h3{
        font-size: 18px;
    }

    #banner {
        background-position-x: right;
    
        .mask {
            background-position-x: right;

            .img{
                background-position-x: 50%;
            }
        }
    }
}

@media screen and (max-width:768px){
    // nav{
    //     width: 100%;
    //     height: 0;
    // }
    #info .container{
        .textarea{
            width: 80%;
        }
        .content{
            width: 80%;
        }
    } 
    .section .container_1 .content{
        width: 80%;
    }
    .section .container_1 .content .rightzone .second_title{
        flex-wrap: wrap;
    }

    .section .container_photos .items{
        width: 80%;
    }

    .section .container_mp .row{
        width: 80%;
    }
}

@media screen and (max-width:600px){
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 14px;
    }
    h4{
        font-size: 12px;
    }
    p{
        font-size: 12px;
    }
    nav .row .col .links a{
        font-size: 30px;
    }
    nav .row .col h2{
        left: 0;
    }
    #banner .mask .img{
        background-position-y: 50%;
        background-attachment: unset;
    }
    #info .container .content .skillbar h4{
        width: 50%;
        letter-spacing: unset;
    }
    #middle_buttons .title{
        margin: 20px auto;
    }
    #middle_buttons .container{
        width: 80%;
        margin: 20px auto;
    }
    .section .container_1{
        margin-top: 50px;
        .title{
            margin-bottom: 20px;
        }

        .content{
            display: unset;
            .leftzone{
                width: 80%;
                margin: auto;
            }
            .rightzone{
                width: 80%;
                margin: auto;
                margin-top: 30px;
            }
        }
    }
    .section .container_2{
        margin-top: 50px;
        .title{
            margin-bottom: 20px;
        }

        .content{
            display: unset;
            .leftzone{
                width: 80%;
                margin: auto;
            }
            .rightzone{
                width: 80%;
                margin: auto;
                margin-top: 30px;
            }
        }
    }

    .section .pages {
        position: absolute;
        // right: 10%;
        // bottom: -8%;
        display: flex;

        .webpage {
            width: 30px;
            height: 30px;
            margin: 10px 5px;
            // padding: 0 10px;
            background-color: gray;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
            color: whitesmoke;
            font-size: 12px;
            cursor: pointer;
        }

        .webpage.active {
            background-color: black;
        }
    }

    .section .container_cd{
        margin-top: 50px;
    }

    .section .container_photos{
        margin-top: 50px;
        .title{
            margin-bottom: 20px;
        }
        .items .item{
            width: 50%;
        }
    }

    .section .container_mp{
        margin-top: 50px;
        .title{
            margin-bottom: 20px;
        }
    }

}