@charset "UTF-8";
* {
  font-family: '微軟正黑體';
  letter-spacing: 1px;
  color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  margin: 10px 0;
}

h3 {
  font-size: 21px;
  font-weight: normal;
  margin: 10px 0;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  color: whitesmoke;
  letter-spacing: 2px;
}

p {
  letter-spacing: 2px;
  line-height: 180%;
  text-align: justify;
}

body {
  margin: 0;
}

.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 5%;
  left: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  background: black;
}

.hamburger-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.hamburger-icon .icon-1,
.hamburger-icon .icon-2,
.hamburger-icon .icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 32px;
  height: 2px;
  background-color: whitesmoke;
  -webkit-transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.hamburger-icon .icon-1 {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.hamburger-icon .icon-3 {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.hamburger-icon .icon-1.a {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.hamburger-icon .icon-3.b {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.hamburger-icon .icon-2.c {
  opacity: 0;
}

.hamburger-icon .clear {
  clear: both;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0%;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

nav .row {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

nav .row .col {
  text-decoration: none;
  width: 25%;
  position: relative;
  background-color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

nav .row .col h2 {
  position: absolute;
  top: 30%;
  left: 30%;
  color: white;
  letter-spacing: 2px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 200;
}

nav .row .col .zh_web {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: relative;
}

nav .row .col .zh_web::after {
  content: "WEB_DESIGN";
  width: 0%;
  height: 0%;
  font-size: 20px;
  position: absolute;
  right: 0%;
  top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

nav .row .col .zh_cd {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: relative;
}

nav .row .col .zh_cd::after {
  content: "COMMERCIAL_DESIGN";
  width: 0%;
  height: 0%;
  font-size: 16px;
  position: absolute;
  right: 0%;
  top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

nav .row .col .zh_photos {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: relative;
}

nav .row .col .zh_photos::after {
  content: "PROFESSIONAL_PHOTOS";
  width: 0%;
  height: 0%;
  font-size: 16px;
  position: absolute;
  right: 0%;
  top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

nav .row .col .zh_mp {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: relative;
}

nav .row .col .zh_mp::after {
  content: "MATTE_PAINTING";
  width: 0%;
  height: 0%;
  font-size: 16px;
  position: absolute;
  right: 0%;
  top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

nav .row .col:hover {
  background-color: #4D4D4D;
}

nav .row .col:hover .zh {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav .row .col .img {
  width: 95%;
  position: absolute;
  bottom: 0;
  left: 2.5%;
}

nav .row .col .photos {
  width: 50%;
  left: 25%;
}

nav .row .col .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

nav .row .col .links a {
  font-size: 50px;
}

nav .row .col .links a *:hover {
  color: whitesmoke;
}

nav.show {
  width: 100%;
  opacity: 1;
}

#banner {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(./img/S__9887806_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#banner .mask {
  -webkit-mask: url(./img/S__9887806_back_2.png);
          mask: url(./img/S__9887806_back_2.png);
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 100%;
  height: 100vh;
}

#banner .mask .img {
  width: 100%;
  height: 100vh;
  background-image: url(./img/name.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 25%;
  background-position-x: 40%;
  background-size: 60%;
}

#info .container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url(./img/black_gradient.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#info .container .title {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

#info .container .title h1 {
  color: whitesmoke;
}

#info .container .textarea {
  width: 70%;
  margin: auto;
  padding: 10px 0;
}

#info .container .content {
  width: 70%;
  margin: auto;
  padding: 10px 0;
}

#info .container .content .skillbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#info .container .content .skillbar h4 {
  color: #1A1A1A;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  letter-spacing: 2px;
  width: 30%;
}

#info .container .content .skillbar .skill {
  background-color: #CCCCCC;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#info .container .content .skillbar .skill .level {
  background-color: #1A1A1A;
  width: 100%;
  height: 15px;
}

#middle_buttons .title {
  width: 80%;
  margin: 50px auto;
}

#middle_buttons .container {
  width: 70%;
  margin: 50px auto;
}

#middle_buttons .container .buttons {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#middle_buttons .container .buttons .m_button {
  width: 25%;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

#middle_buttons .container .buttons .w {
  background-image: url(./img/coding1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#middle_buttons .container .buttons .w:hover {
  background-image: url(./img/coding.svg);
  position: relative;
}

#middle_buttons .container .buttons .w:hover::before {
  content: "WEB DESIGN";
  height: 0;
  position: absolute;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 12px;
  text-align: center;
}

#middle_buttons .container .buttons .c {
  background-image: url(./img/graphic-design1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#middle_buttons .container .buttons .c:hover {
  background-image: url(./img/graphic-design.svg);
}

#middle_buttons .container .buttons .c:hover::before {
  content: "COMMERCIAL DESIGN";
  height: 0;
  position: absolute;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 12px;
  text-align: center;
}

#middle_buttons .container .buttons .p {
  background-image: url(./img/photography.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#middle_buttons .container .buttons .p:hover {
  background-image: url(./img/photography1.svg);
}

#middle_buttons .container .buttons .p:hover::before {
  content: "PROFESSION PHOTOS";
  height: 0;
  position: absolute;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 12px;
  text-align: center;
}

#middle_buttons .container .buttons .m {
  background-image: url(./img/retouch1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#middle_buttons .container .buttons .m:hover {
  background-image: url(./img/retouch.svg);
}

#middle_buttons .container .buttons .m:hover::before {
  content: "MATTE PAINTING";
  height: 0;
  position: absolute;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 12px;
  text-align: center;
}

.section {
  display: none;
  position: relative;
}

.section .container_1 {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: none;
  margin-bottom: 50px;
}

.section .container_1 .title {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.section .container_1 .bgimg {
  width: 35%;
  position: absolute;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  top: 35%;
  left: 42%;
  z-index: -1;
}

.section .container_1 .bgimg img {
  width: 100%;
}

.section .container_1 .content {
  width: 70%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .container_1 .content .leftzone {
  width: 40%;
}

.section .container_1 .content .leftzone .imgzone {
  width: 100%;
}

.section .container_1 .content .leftzone .imgzone .tab {
  display: none;
}

.section .container_1 .content .leftzone .imgzone .tab img {
  width: 100%;
}

.section .container_1 .content .leftzone .imgzone .mobile {
  width: 40%;
  margin: auto;
}

.section .container_1 .content .leftzone .imgzone .mobile img {
  width: 100%;
}

.section .container_1 .content .leftzone .imgzone .tab.active {
  display: block;
}

.section .container_1 .content .leftzone .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

.section .container_1 .content .leftzone .buttons .button {
  margin: 0 10px;
  color: gray;
  cursor: pointer;
}

.section .container_1 .content .leftzone .buttons .button.active * {
  color: #AA4C4C;
}

.section .container_1 .content .rightzone {
  width: 55%;
}

.section .container_1 .content .rightzone .second_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .container_1 .content .rightzone .second_title h1 {
  position: relative;
}

.section .container_1 .content .rightzone .second_title h1::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: black;
  left: 0;
  bottom: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.section .container_1 .content .rightzone .second_title h1:hover {
  color: #AA4C4C;
}

.section .container_1 .content .rightzone .second_title h1:hover * {
  color: #AA4C4C;
}

.section .container_1 .content .rightzone .second_title h1:hover::after {
  content: "";
  width: 100%;
  background-color: #AA4C4C;
}

.section .container_1 .content .rightzone .second_title h3 {
  position: relative;
}

.section .container_1 .content .rightzone .second_title h3::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: black;
  left: 0;
  bottom: -10%;
  -webkit-transition: 1s;
  transition: 1s;
}

.section .container_1 .content .rightzone .second_title h3:hover {
  color: #053F0C;
}

.section .container_1 .content .rightzone .second_title h3:hover * {
  color: #053F0C;
}

.section .container_1 .content .rightzone .second_title h3:hover::after {
  content: "";
  width: 100%;
  background-color: #053F0C;
}

.section .container_2 {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: none;
  margin-bottom: 50px;
}

.section .container_2 .title {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.section .container_2 .content {
  width: 70%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .container_2 .content .leftzone {
  width: 40%;
}

.section .container_2 .content .leftzone .imgzone {
  width: 100%;
}

.section .container_2 .content .leftzone .imgzone .tab2 {
  display: none;
}

.section .container_2 .content .leftzone .imgzone .tab2 img {
  width: 100%;
}

.section .container_2 .content .leftzone .imgzone .mobile {
  width: 40%;
  margin: auto;
}

.section .container_2 .content .leftzone .imgzone .mobile img {
  width: 100%;
}

.section .container_2 .content .leftzone .imgzone .tab2.active {
  display: block;
}

.section .container_2 .content .leftzone .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

.section .container_2 .content .leftzone .buttons .button2 {
  margin: 0 10px;
  color: gray;
  cursor: pointer;
}

.section .container_2 .content .leftzone .buttons .button2.active * {
  color: #427f97;
}

.section .container_2 .content .rightzone {
  width: 55%;
  position: relative;
}

.section .container_2 .content .rightzone .bgimg {
  z-index: -1;
  position: absolute;
  width: 100%;
}

.section .container_2 .content .rightzone .bgimg img {
  width: 100%;
}

.section .container_2 .content .rightzone .second_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .container_2 .content .rightzone .second_title h1 {
  position: relative;
}

.section .container_2 .content .rightzone .second_title h1::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: black;
  left: 0;
  bottom: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.section .container_2 .content .rightzone .second_title h1:hover {
  color: #427f97;
}

.section .container_2 .content .rightzone .second_title h1:hover * {
  color: #427f97;
}

.section .container_2 .content .rightzone .second_title h1:hover::after {
  content: "";
  width: 100%;
  background-color: #427f97;
}

.section .container_2 .content .rightzone .second_title h3 {
  position: relative;
}

.section .container_2 .content .rightzone .second_title h3::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: black;
  left: 0;
  bottom: -10%;
  -webkit-transition: 1s;
  transition: 1s;
}

.section .container_2 .content .rightzone .second_title h3:hover {
  color: #202b30;
}

.section .container_2 .content .rightzone .second_title h3:hover * {
  color: #202b30;
}

.section .container_2 .content .rightzone .second_title h3:hover::after {
  content: "";
  width: 100%;
  background-color: #202b30;
}

.section .pages {
  position: absolute;
  right: 10%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .pages .webpage {
  width: 60px;
  height: 60px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: whitesmoke;
  font-size: 24px;
  cursor: pointer;
}

.section .pages .webpage.active {
  background-color: black;
}

.section .website.active {
  display: block;
}

.section {
  display: block;
  height: 0;
  overflow: hidden;
}

.section .container_cd {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.section .container_cd .title {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.section .container_cd .heathrow-images-for-lightbox {
  margin: auto;
  width: 70%;
}

.section .container_cd .heathrow-images-for-lightbox .slider {
  margin: 0px auto 30px;
}

.section .container_cd .heathrow-images-for-lightbox .slider .image img {
  display: block;
  width: 100%;
  padding: 5px;
}

.section .container_cd .heathrow-images-for-lightbox .slider .slick-prev,
.section .container_cd .heathrow-images-for-lightbox .slider .slick-next {
  width: 30px;
  height: 30px;
}

.section .container_cd .heathrow-images-for-lightbox .slider .slick-prev {
  left: -40px;
}

.section .container_cd .heathrow-images-for-lightbox .slider .slick-next {
  right: -40px;
}

.section .container_cd .heathrow-images-for-lightbox .slider .slick-prev:before,
.section .container_cd .heathrow-images-for-lightbox .slider .slick-next:before {
  color: #4D4D4D;
  font-size: 30px;
}

.section .container_cd .progress {
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: gray;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(black));
  background-image: linear-gradient(to right, black, black);
  background-repeat: no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .4s ease-in-out;
  transition: background-size .4s ease-in-out;
}

.section .container_cd .progress .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.section .container_photos {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.section .container_photos .title {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.section .container_photos .items {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.section .container_photos .items .item {
  width: 25%;
  padding: 5px;
  float: left;
}

.section .container_photos .items .item img {
  width: 100%;
}

.section .container_mp {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.section .container_mp .title {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.section .container_mp .row {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .container_mp .row .col_w {
  width: 100%;
}

.section .container_mp .row .col_w img {
  width: 100%;
}

.section .container_mp .row .col {
  width: 50%;
}

.section .container_mp .row .col img {
  width: 100%;
}

.active {
  display: block;
  height: auto;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  #banner {
    background-position-x: right;
  }
  #banner .mask {
    background-position-x: right;
  }
  #banner .mask .img {
    background-position-x: 50%;
  }
}

@media screen and (max-width: 768px) {
  #info .container .textarea {
    width: 80%;
  }
  #info .container .content {
    width: 80%;
  }
  .section .container_1 .content {
    width: 80%;
  }
  .section .container_1 .content .rightzone .second_title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section .container_photos .items {
    width: 80%;
  }
  .section .container_mp .row {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  nav .row .col .links a {
    font-size: 30px;
  }
  nav .row .col h2 {
    left: 0;
  }
  #banner .mask .img {
    background-position-y: 50%;
    background-attachment: unset;
  }
  #info .container .content .skillbar h4 {
    width: 50%;
    letter-spacing: unset;
  }
  #middle_buttons .title {
    margin: 20px auto;
  }
  #middle_buttons .container {
    width: 80%;
    margin: 20px auto;
  }
  .section .container_1 {
    margin-top: 50px;
  }
  .section .container_1 .title {
    margin-bottom: 20px;
  }
  .section .container_1 .content {
    display: unset;
  }
  .section .container_1 .content .leftzone {
    width: 80%;
    margin: auto;
  }
  .section .container_1 .content .rightzone {
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }
  .section .container_2 {
    margin-top: 50px;
  }
  .section .container_2 .title {
    margin-bottom: 20px;
  }
  .section .container_2 .content {
    display: unset;
  }
  .section .container_2 .content .leftzone {
    width: 80%;
    margin: auto;
  }
  .section .container_2 .content .rightzone {
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }
  .section .pages {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section .pages .webpage {
    width: 30px;
    height: 30px;
    margin: 10px 5px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: whitesmoke;
    font-size: 12px;
    cursor: pointer;
  }
  .section .pages .webpage.active {
    background-color: black;
  }
  .section .container_cd {
    margin-top: 50px;
  }
  .section .container_photos {
    margin-top: 50px;
  }
  .section .container_photos .title {
    margin-bottom: 20px;
  }
  .section .container_photos .items .item {
    width: 50%;
  }
  .section .container_mp {
    margin-top: 50px;
  }
  .section .container_mp .title {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=index.css.map */