h1 {
    margin: 0;
    color: whitesmoke;
    font-size: 1rem;
}

h2 {
    font-size: .5em;
}

h3 {
    font-size: .4rem;
    font-weight: 300;
    margin: 0%;
    color: whitesmoke
}

p {
    font-size: .4rem;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    scroll-behavior: smooth;
}

// start
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    #section1 {
        width: 100%;
        background-color: rgb(32, 32, 32);

        // banner
        #container_banner {
            width: 100%;
            height: auto;
            color: rgb(26, 11, 11);
            position: relative;

            .backGround {
                width: 100%;
                height: 10rem;
                background-image: url(./img/IMG_5708.jpg);
                background-size: cover;
                position: relative;

                .title {
                    padding-left: 1rem;
                    padding-top: 1rem;
                }

                .skillButton {
                    background-color: rgba(32, 32, 32, 0.63);
                    width: 100%;
                    height: 3rem;
                    position: absolute;
                    bottom: 0;
                    color: whitesmoke;

                    .buttonGroup {
                        width: 60%;
                        height: 100%;
                        margin-left: auto;
                        padding-right: 1rem;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        a {
                            width: 30%;
                            margin-left: .2rem;

                            .button {
                                width: 100%;
                                text-align: center;
                                border: 1px solid whitesmoke;
                                padding: .2rem;


                                img {
                                    width: 20%;
                                }

                                h3 {
                                    margin-top: .2rem;
                                }
                            }
                        }


                    }
                }
            }

            .myPhoto {
                width: 8rem;
                margin-left: 1rem;
                margin-top: 1rem;
                border: rgb(32, 32, 32) .5rem solid;
                position: absolute;
                top: 30%;

                img {
                    width: 100%;
                }
            }

        }
    }

    #section2 {

        .container_body {
            // box-sizing: border-box;
            width: 100%;
            padding-top: 2.5rem;
            padding-left: 1.5rem;
            padding-right: 1rem;
            padding-bottom: 2.5rem;
            display: flex;
            justify-content: space-between;
            background-color: rgb(32, 32, 32);

            .leftSide {
                padding: .5rem;
                width: 30%;
                height: auto;
                background-color: whitesmoke;
                border-radius: .2rem;
                color: rgb(32, 32, 32);

                .skillBar {
                    h2 {
                        text-align: center;
                        margin-bottom: 0;
                    }

                    ul {
                        list-style: none;
                        padding: .5rem;
                        margin: 0;

                        // Progress Bars
                        progress,
                        progress[role] {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            border: none;
                            background-size: auto;
                            height: .5rem;
                            width: 100%;
                        }

                        // The unordered list
                        .skill-list {
                            list-style: none;
                        }

                        // The list item
                        .skill {
                            margin-bottom: .1em;
                            position: relative;

                            h3 {
                                color: #fff;
                                left: .5em;
                                position: absolute;
                                bottom: 0%;
                            }

                            ::-webkit-progress-value {
                                // -webkit-animation: bar-fill 2s;
                                width: 0px;
                            }
                        }

                        // Style the bar colors
                        .skill-1::-webkit-progress-value {
                            background: #0243bd;
                        }

                        .skill-2::-webkit-progress-value {
                            background: #2c2c2c;
                        }

                        .skill-3::-webkit-progress-value {
                            background: #ec9209;
                        }

                        .skill-4::-webkit-progress-value {
                            background: #696969;
                        }

                        .skill-5::-webkit-progress-value {
                            background: #d11414;
                        }

                        .skill-6::-webkit-progress-value {
                            background: #4b7409;
                        }


                        // Animation Keyframes
                        @-webkit-keyframes bar-fill {
                            0% {
                                width: 0;
                            }
                        }

                        @keyframes bar-fill {
                            0% {
                                width: 0;
                            }
                        }
                    }
                }
            }

            .rightSide {
                width: 65%;
                padding: .5em;
                height: auto;
                background-color: whitesmoke;
                border-radius: .2rem;

                .experience {

                    .title {
                        text-align: center;
                    }

                    .workEx {
                        display: flex;
                        justify-content: space-between;

                        .smallTitle {
                            display: inline-flex;

                            h3 {
                                font-family: '微軟正黑體';
                                color: black;
                            }

                            p {
                                margin: 0;
                                margin-left: .2rem;

                            }

                            ul {

                                li {
                                    font-size: .4rem;
                                    font-family: '微軟正黑體';
                                }
                            }
                        }

                        p {
                            margin: 0;

                        }
                    }
                }

            }
        }
    }

    #section3 {

        // overflow: hidden;
        .container_middle {
            width: 100%;
            height: 4rem;

            .backImg {
                width: 100%;
                height: 100%;
                background-image: url(./img/S__9494574_fade.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom;
                background-attachment: fixed;
                position: relative;

                &::before {
                    content: "TIGGER KAO";
                    background-color: rgba(253, 253, 253, 0.342);
                    padding: .5em;
                    color: rgb(32, 32, 32);
                    margin: auto;
                    font-family: 'Tomorrow', sans-serif;
                    position: absolute;
                    right: 47%;
                    top: 40%;
                    transform: rotateZ(-90deg);
                    transform: translate(-1);
                    font-size: .5rem;
                }
            }
        }
    }

    #section4 {
        .container_bottom {
            background-color: rgb(32, 32, 32);

            .portfolio {
                padding-top: 2.5rem;
                width: 100%;

                .rwd {
                    width: 100%;
                    display: flex;
                    position: relative;
                    height: auto;
                    background-color: rgb(32, 32, 32);
                    padding-bottom: 2.5rem;

                    .title {
                        width: 30%;
                        transform: rotateZ(-90deg);
                        transform: translate(-1);
                        position: absolute;
                        right: -5%;
                    }

                    .imgWeb {
                        width: 50%;

                        img {
                            width: 90%;
                        }
                    }

                    .imgPhone {
                        width: 17.7%;

                        img {
                            width: 90%;
                        }
                    }
                }

                .commercial {
                    padding-top: 2.5rem;
                    padding-bottom: 2.5rem;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    flex-flow: wrap;
                    position: relative;
                    height: auto;
                    background-color: rgb(255, 255, 255);

                    .title {
                        width: 35%;
                        // font-size: 60px;
                        transform: rotateZ(-90deg);
                        transform: translate(-1);
                        position: absolute;
                        left: 0;
                        top: 13%;

                        h1 {
                            color: rgba(32, 32, 32, 0.63);
                        }
                    }

                    .img {
                        width: 35%;

                        img {
                            width: 95%;
                            margin-top: 10px;
                        }
                    }

                }

                .photos {
                    padding-top: 2.5rem;
                    padding-bottom: 2.5rem;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    flex-flow: wrap;
                    position: relative;
                    height: auto;
                    background-color: rgb(32, 32, 32);

                    .title {
                        transform: rotateZ(-90deg);
                        transform: translate(-1);
                        position: absolute;
                        right: 0;
                        top: 20%;
                    }

                    .photoContainer {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;

                        .img {
                            width: 30%;

                            img {
                                width: 100%;
                                padding-left: .2rem;
                                padding-bottom: .2rem;
                            }
                        }
                    }
                }

                .ps {
                    padding-top: 2.5rem;
                    // padding-bottom: 2.5rem;
                    width: 100%;
                    height: auto;
                    background-color: rgb(32, 32, 32);

                    .imgbox {
                        display: flex;
                        width: 100%;

                        .img {
                            width: 50%;

                            img {
                                height: 75%;
                                // padding-left: .2rem;
                                padding-bottom: .2rem;
                            }
                        }

                        .imgT {
                            width: 100%;

                            img {
                                height: 75%;
                                // padding-left: .2rem;
                                padding-bottom: .2rem;
                            }
                        }
                    }

                }
            }
        }
    }

    #section5 {
        .footer {
            width: 100%;
            display: flex;
            justify-content: space-around;
            text-align: center;

            p {
                font-size: .3rem;
                width: 30%;

                b {
                    background-color: rgba(32, 32, 32, 0.63);
                    padding: .2rem;
                    color: whitesmoke;
                }
            }
        }
    }
}

@media (max-width:1835px) {
    body #section4 .container_bottom .portfolio .ps .imgbox{
        flex-wrap: wrap;

        .imgT img{
            width: 100%;
            height: unset;
        }

        .img{
            width: 50%;

            img{
                height: unset;
                width: 100%;
            }
        }
    }
}

@media (max-width:1024px) {
    html {
        font-size: 30px;

        body #section1 #container_banner .backGround .title {
            margin-left: 2rem;
            padding-left: 0;
        }

        body #section1 #container_banner .myPhoto {
            width: 6.5rem;
            top: 40%;
            margin-left: 2rem;
        }

        body #section4 .container_bottom .portfolio .rwd .imgWeb{
            width: 60%;
        }

        body #section4 .container_bottom .portfolio .rwd .imgPhone{
            width: 21.3%;
        }
    }
}

@media (max-width:768px){
    html{
        font-size: 25px;

        body #section1 #container_banner .myPhoto {
            width: 6.5rem;
            top: 45%;
        }
    }
}

@media (max-width: 420px){
    html{
        // h1{
        //     font-size: 1.5rem;
        // }

        body #section1 #container_banner .backGround .skillButton .buttonGroup a .button {
            img{
                width: 50%;
            }

            h3{
               display: none; 
            }
            
        }

        body #section1 #container_banner .backGround .title .myName a img{
            display: none;
        }
    
        body #section2 .container_body{
            flex-wrap: wrap;
    
            .leftSide{
                width: 100%;
                margin-bottom: 1rem;
            }
            .rightSide{
                width: 100%;
            }
        }
    
        body #section2 .container_body .leftSide .skillBar ul progress, body #section2 .container_body .leftSide .skillBar ul progress[role]{
            height: 1rem;
        }
    
        body #section2 .container_body .rightSide .experience .etitle{
            flex-wrap: wrap;
            width: 50%;
        }

        body #section2 .container_body .rightSide .experience .workEx .smallTitle ul{
            padding-left: 1rem;
        }

        body #section4 .container_bottom .portfolio .ps .imgbox .imgT img{
            height: unset;
            width: 100%;
        }
        body #section5 .footer p{
            font-size: 5px;
        }
    }
    
}